@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --foreground-rgb: 0, 0, 0;
  /* --body-background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  --body-background: #d6e4fc;
  @import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&family=Sacramento&display=swap');

}

body {
  /* background-image: var(--body-background); */
  background-color: var(--body-background)
}

body::-webkit-scrollbar{
  width: 0.25em;
}

body::-webkit-scrollbar-track{
  background: white;
}

body::-webkit-scrollbar-thumb{
  background: black;
}

.login_container {
  @apply 

  flex
  max-[1000px]:flex-col 
  flex-row 
  items-center 
  justify-center 
  min-h-screen 
  gap-x-20 
}

.login_container .login_form {
  @apply

  flex
  flex-col
  items-center
  justify-center
  bg-white
  py-10
  max-[1000px]:w-5/6
  w-1/3
  drop-shadow-2xl
  rounded-2xl
  h-96
}

.login_container .login_text {
  @apply 
  w-1/3
  max-[1000px]:w-5/6
  max-[1000px]:h-full
  max-[1000px]:text-center
  h-96
}

.login_header_app_name {
  font-family: 'Khand', sans-serif;
  @apply

  font-extrabold 
  max-[1000px]:text-8xl 
  drop-shadow-xl 
  text-8xl 
  text-transparent 
  bg-clip-text 
  bg-gradient-to-r from-orange-700 to-orange-500 
  mb-5 
  py-2 
}

.login_header_app_explanation {

  font-family: 'Sacramento', cursive;
  @apply 
  
  font-normal 
  text-2xl 
  text-gray-600
  mb-5
  py-2
  max-[1000px]:hidden
}

.login_submit_button {
  @apply
  
  p-2 
  border 
  border-gray-300 
  rounded-lg 
  mb-4 
  focus:outline-none 
  focus:border-gray-600
  w-5/6
  bg-blue-800
  text-white
  font-medium
  text-lg
}

.login_form_input {
  @apply 

  p-2 
  border 
  border-gray-300 
  rounded-lg 
  mb-4 
  focus:outline-none 
  focus:border-gray-600 
  text-black 
  w-5/6 
}

.login_form_horizontal_line {
  @apply
  
  w-5/6
  border
  border-gray-300
  mb-6
}

.login_form_create_account_button {
  @apply

  w-5/6
  text-center
  text-white
  border
  rounded-lg
  bg-lime-700
  hover:bg-lime-800
  p-2
  font-medium
  text-lg
  duration-500
}
