@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --foreground-rgb: 0, 0, 0;
  /* --body-background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  --body-background: #d6e4fc;
  @import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&family=Sacramento&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

}

body {
  /* background-image: var(--body-background); */
  background-color: var(--body-background);
}

body::-webkit-scrollbar{
  width: 0.25em;
}

body::-webkit-scrollbar-track{
  background: white;
}

body::-webkit-scrollbar-thumb{
  background: black;
}

.icons_by_who {

  @apply
  
  fixed
  z-[999]
  right-2.5
  bottom-2.5
  text-pink-900
  max-[1000px]:hidden
}

.icons_by_who a {
  @apply
  text-blue-900
  text-2xl
}