.changepassword_section_container {
    @apply 
    flex 
    items-center 
    justify-center 
    min-h-screen 
    w-full
}

.changepassword_form {
    animation-name: visibilityChange;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    @apply
  
    flex
    flex-col
    items-center
    justify-center
    bg-white
    py-6
    w-3/4
    shadow-md
    h-auto
    relative
    rounded-b-lg

    border-t-4
    border-orange-400

    lg:w-6/12
}

.form_change_password_button {
    @apply
    w-5/6
    text-center
    text-white
    border
    bg-orange-700
    hover:bg-orange-800
    p-2
    font-medium
    text-lg
    duration-500
    mb-3
}