.feed_container {
    @apply w-full relative
}

.fetch-error-container {
    @apply flex items-center justify-center flex-col text-red-400
}

.loadmore_button_container {
    @apply w-full mb-5 flex items-center justify-center flex-col
}

.loadmore_button {
    @apply 
    transition-all duration-200 ease-in
    border border-red-400
    bg-red-200 hover:bg-red-300
    py-1 px-16 
    text-sm text-slate-700 hover:text-slate-900
    shadow-sm hover:shadow-md
}

@keyframes FeedContainerBlink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blink {
    animation: FeedContainerBlink 1s ease-in-out 1;
  }