.left_side_bar {
    height: calc(100vh - 62px);
    transition: width 1s ease;
    @apply
    /* w-[250px] */
    w-[50px]
    mt-[62px]
    mr-[50px]
    bg-white
    shadow-xl
    fixed 
    left-0
    top-0
    z-10
    max-[1000px]:hidden
}

.left_side_bar:hover {
    @apply w-[250px]
}

.left_side_bar span {
    white-space: nowrap;
    transition: 500ms ease;
    @apply opacity-0
}

.left_side_bar:hover span {
    @apply opacity-100
}

.feedLi::before {
    content: ""; 

    @apply
    bg-blue-900
    absolute
    top-0
    left-0
    h-full
    w-[5px]
}

.left_side_bar_items > li:nth-child(2) > * {
    @apply
    text-blue-900
    font-bold
}

.left_side_bar_items > li:nth-child(2) {
    @apply
    bg-blue-100
    shadow-md
    w-[105%]
}

.left_side_bar_items {
    @apply
    flex
    flex-col
    py-1
}

.left_side_bar_items li {
    @apply

    relative
    h-12
    w-[99%]
    pt-1
    flex
    items-center
    gap-4
    hover:bg-gray-200
    hover:w-[105%]
    hover:shadow-md
}

.left_side_bar_items li span{
    @apply
    absolute
    left-14
}

.left_side_bar_items li:hover {
    @apply
    cursor-pointer
}

.left_side_bar_icon {
    font-size: 25px;
    @apply
    absolute
}

.iconContainer {
    @apply
    flex
    items-center
    justify-center
    w-12
    h-12
}

.left_side_bar_horizontal_line {
    @apply 
    w-full
    bg-slate-300
    h-[2px]
    mt-4
}

.left_side_bar_post_photo {
    border-radius: 50%;
    @apply
    w-[30px]
    h-[30px]
    object-cover
}

.left_side_bar_link_items {
    @apply
    flex
    items-center
    justify-center
    flex-col
}