.left_side_bar {
    transition: all 500ms ease;
    @apply

    mt-[60px]
    bg-white
    shadow-md
    fixed 
    left-0
    top-5
    z-10
    xl:block
    xl:w-48
    border-t-2
    border-orange-700
}

.left_side_bar span {
    white-space: nowrap;
    @apply
    hidden
    xl:block
}

.left_side_bar .unread_notifications_container,
.left_side_bar .unread_notifications_number{
    @apply hidden xl:flex
}

.unread_notifications_container {
    @apply w-full flex items-center justify-between flex-row ml-1.5 relative inline-block
}

.unread_notifications_number{
    @apply text-right mr-2 text-white bg-red-300 flex items-center justify-center rounded-md text-sm
}

.activeli > * {
    @apply
    text-blue-900
    font-bold
}

.activeli {
    @apply
    
    bg-blue-100
    shadow-md
    w-[105%]
}

.activeli::before {
    content: ""; 

    @apply
    bg-blue-900
    absolute
    top-0
    left-0
    h-full
    w-[5px]
}

.left_side_bar_items {
    @apply
    flex
    flex-col
    py-1
}

.left_side_bar_title {
    @apply

    relative
    h-6
    text-sm
    font-bold
    text-red-900
    text-left
    left-3
}

.left_side_bar_items a {
    @apply mb-1
}

.left_side_bar_items a li {
    @apply

    relative
    h-12
    pt-1
    flex
    items-center

    transition-all
    ease-in 
    duration-200

    hover:bg-gray-200
    hover:w-[105%]
    hover:shadow-md
    
}

.left_side_bar_items a:hover li div,
.left_side_bar_items a:hover li span {
    @apply xl:ml-1.5 transition-all duration-200 ease-in
}

.left_side_bar_items a:hover li::before {
    content: ""; 

    @apply
    bg-gray-500
    absolute
    top-0
    left-0
    h-full
    w-[5px]
}

.left_side_bar_items li span{
    @apply
    absolute
    left-11
}

.left_side_bar_items li:hover {
    @apply
    cursor-pointer
}

.iconContainer {
    @apply
    flex
    items-center
    justify-center
    w-12
    h-12
}

.left_side_bar_horizontal_line {
    @apply 
    w-full
    bg-red-900
    h-[2px]
}