.main_right_side_container {
    @apply
    
    fixed
    w-[30%]
    right-0
    top-20
    text-sm
    hidden
    border-t-2
    border-orange-700

    md:block
}

.main_right_side_suggestion_container,
.main_right_side_activities_container {
    @apply
    p-3
    bg-white
    w-full
    shadow-md
    mb-8
}

.main_right_side_title {
    @apply
    pb-4
    text-purple-400
    font-bold
}

.main_right_side_suggested_people_container,
.main_right_side_latest_activities_container {
    @apply
    flex
    justify-center
    items-start
    flex-col
    gap-2
}

.suggested_person_container,
.latest_activity_container {
    @apply
    flex
    justify-between
    items-center
    w-full
}

.suggested_person_container img,
.latest_activity_container img {
    @apply 
    rounded-full
    cursor-pointer
}

.latest_activity_info p,
.suggested_person_info span {
    @apply
    font-bold 
    text-zinc-700
    cursor-pointer
}

.latest_activity_info span {
    @apply
    font-normal 
}

.latest_activity_info img {
    @apply object-cover w-[50px] h-[50px] rounded
} 

.suggested_person_info,
.latest_activity_info {
    @apply 
    flex
    justify-center
    items-center
    gap-3
}

.suggested_person_buttons {
    @apply 
    flex 
    align-middle
    justify-center
    gap-1
}

.suggested_person_button {
    transition: background-color 500ms ease;
    @apply 
    border
    flex align-middle justify-center
    pl-2 pr-3 py-1
    gap-2
}

.suggested_person_button_text {
    @apply
    hidden
    xl:block
}

.follow_button {
    @apply
    border
    border-green-700
    bg-green-500
    hover:bg-green-600
}

.unfollow_button {
    @apply
    border
    border-rose-800
    bg-rose-600
    hover:bg-rose-700
}

.time-indicator {
    @apply
    text-blue-400
}