.modal-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.modal-container.active{
  opacity: 1;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  @apply
  fixed
  top-0
  left-0
  w-full
  h-full
  flex
  justify-center
  items-center
  z-50
}

.modal {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  @apply
  bg-neutral-300
  border
  border-solid
  border-4
  border-black
  p-[20px]
  relative
  w-6/12
  max-[1000px]:w-full
  max-[1000px]:mx-[5%]
}

.close-button {
  @apply
  bg-red-100
  flex
  justify-center
  items-center
  w-10
  h-10
  text-red-900
  hover:bg-red-200
  top-[1rem]
  right-[1rem]
  absolute
  cursor-pointer
  border-none
}