.modal-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.modal-container.active{
  opacity: 1;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  @apply
  fixed
  top-0
  left-0
  w-full
  h-full
  flex
  justify-center
  items-center
  z-50
}

.modal {
  animation-name: visibilityChange;
  animation-duration: 750ms;
  animation-timing-function: ease;
  
  @apply
  bg-neutral-300
  relative
  w-11/12
  max-w-4xl
  p-0 
  m-0
  shadow-md
}

.close-button {
  @apply
  bg-red-100
  flex
  justify-center
  items-center
  text-red-900
  hover:bg-red-200
  top-[-1rem]
  right-[-1rem]
  absolute
  cursor-pointer
  border-2 border-red-900
}