#logo{
    
    font-family: Poppins, sans-serif;
    letter-spacing: 5px;
    background-image: linear-gradient(to bottom right, red, yellow);
    @apply

    absolute
    text-xl
    mt-0
    bg-clip-text 
    text-transparent 

}

.navbar{
    font-family: Tahoma, Verdana, sans-serif;
    
    @apply

    bg-stone-700
    text-base
    fixed
    top-0
    left-0
    z-10
    w-full
    shadow-md
    pl-2

}

.navbar a {

    @apply

    float-left
    text-center
    p-4
    no-underline
    text-white

}

.tabs{
    @apply
    float-right
    flex
    justify-center
    items-center
}

.tooltip {
    position: fixed !important;
}

.dropdown {
    @apply
    overflow-hidden
}

.dropdown .dropbtn {

    transition: background-color 500ms ease;

    @apply

    cursor-pointer
    text-white
    px-3.5
    py-4
    bg-inherit
    mt-0
    border-none
    flex
    align-middle
    justify-center
    gap-2
    bg-stone-800
}

.icon {
    transition: transform 0.5s ease;
}
  
.rotate {
    transform: rotate(180deg);
}

.dropdown-content {
    min-width: 20em;
    @apply

    fixed
    bg-slate-100
    right-4
    top-0
    mt-16
    rounded-lg
    shadow-md
    border-2
    border-slate-300
}

.dropdown-content::after {
    content: '';
    border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));

    @apply
    absolute
    w-0
    h-0
    bottom-full
    right-3
}

.dropdown-content a {

    @apply

    float-none
    text-black
    no-underline
    block
    text-left  
    rounded-lg
    p-1.5
}

.dropdown-content>a {
    @apply
    m-2
}
  
.dropdown-content a:hover {
    @apply
    bg-slate-300
}

.grid-container-dropdown {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.firstLineText{
    @apply
    text-2xl
}

.secondLineText {
    @apply
    text-gray-500
    text-base
}

.grid-item-dropdown-normal{
    @apply

    absolute
    left-14
    mt-0.5
    font-medium
    text-black
    ml-3
}

.grid-item-dropdown-normal-first{
    font-size: 1.3em;
    @apply text-black
}

.grid-item-dropdown-2 {
    @apply

    absolute
    left-20
    top-2.5
}

.nav_bar_photo {
    border-radius: 50%;
    @apply
    object-cover
}

.nav_bar_dropdown_photo_size {
    @apply
    w-[50px]
    h-[50px]
}

.nav_bar_navbar_photo_size {
    @apply
    w-[30px]
    h-[30px]
}