@keyframes visibilityChange {
    from {
      opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.post_container {
    @apply

    transition-all duration-200 ease-in
    bg-neutral-50
    w-full
    h-full
    opacity-100
    pt-6 pl-6 pr-6
    mb-5
    break-normal
    hyphens-auto
    shadow-md
}

.post_container.removePost {
    @apply h-0 opacity-0
}

.post_photo {
    @apply
    object-cover
    w-[50px]
    h-[50px]
    rounded-full
}

.post_owners_name {
    @apply font-bold
}

.post_header {
    @apply flex justify-between items-center
}

.post_header_left_section {
    @apply
    flex
    justify-center
    items-center
    gap-4
}

.post_posted_date {
    @apply

    text-xs
}

.post_header_right_actions_section {
    border-radius: 50%;
    transition: all 500ms ease;
    @apply
    flex
    items-center
    justify-center
    w-12
    h-12
    text-[2rem]
    text-black
    hover:bg-sky-100
    hover:text-white
    focus:bg-sky-300
}

.post_action_button {
    transition: all 500ms ease;
    @apply
    flex
    items-center
    justify-center
    cursor-pointer
    px-4
    h-12
    text-xs
    gap-2
}

.post_action_button:hover {
    color: grey;
}

.post_below_container {
    @apply flex items-center justify-between flex-row relative w-full
}

.post_like_comment_share {
    @apply flex justify-between items-center flex-row
}

.post_saved_mark {
    @apply mx-4
}

.post_horizontal_line {
    @apply
    w-full
    border
    border-gray-300
}

.right_actions_button {
    @apply
    h-12
    w-12
    text-black
}

.right_actions_button span {
    @apply
    relative
    bottom-2
}

.post_body {
    
    @apply
    bg-white
    mt-5 mb-3
    text-sm
    relative
    p-3
    border
    rounded-xl
}

.post_body::after {
    content: "";
    border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));

    @apply
    absolute
    w-0
    h-0
    bottom-full
    left-3
}

.right_section_container {
    @apply relative 
}

.post_dropdown_content{

    animation-name: visibilityChange;
    animation-duration: 750ms;
    animation-timing-function: ease;

    @apply
    absolute
    bg-white
    right-0
    top-10
    flex
    items-center
    justify-center
    flex-col
    z-10
    border
    h-auto
    w-[200px]
}

.post_dropdown_content::after {
    content: "";
    border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));

    @apply
    absolute
    w-0
    h-0
    bottom-full
    right-3
}

.post_dropdown_content_action {
    @apply
    flex
    items-center
    justify-start
    gap-2
    px-6
    py-2
    w-full
    cursor-pointer
    hover:bg-slate-200
    gap-3
}

.post_comment_section_container {
    @apply
    transition-all duration-200 ease-in
    opacity-0
    h-0
}

.post_comment_section_container.expanded {
    @apply
    opacity-100
    h-svh
    pb-6
}

.post_comment_textarea {
    @apply
    w-full
    p-2.5
    text-xs
    bg-cover
    outline-none
    resize-none
    border
    border-t-2
    border-t-slate-500
}

.post_comment_top_section {
    @apply
    pt-4
    pb-2
    flex
    justify-between
    items-center
}

.post_comment_top_section_share_button {
    @apply
    px-4
    py-1
    text-base
    bg-slate-500
    text-white
    border
    border-slate-800
    hover:bg-slate-600
    transition-all
    duration-300
}

.post_comment_middle_section {
    @apply
    flex
    justify-between
    mb-4
}

.post_comment_header_section {
    @apply flex items-center justify-between gap-2 py-3
}

.post_comment {
    @apply
    mt-3
    w-full
    flex
    items-start
    justify-center
}

.post_comment_body {
    @apply
    bg-white
    text-sm
    relative
    pt-1 pb-3 pl-3 pr-3
    w-full
    ml-4
    border
    border-t-2
    border-t-slate-500
}

.comment_horizontal_line {
    @apply
    w-full
    border
    border-dashed
    border-gray-300
}

.gotocomments_button {
    @apply 
    text-blue-500 hover:text-blue-700 
    transition-all duration-200 ease-in
    underline
}