.post_form_container {
    @apply
    w-full
    h-full
    border-t-2
    border-orange-700
}

.post_form {
    @apply

    rounded-b-lg
    border-solid
    border-white
    bg-neutral-100
    p-3
    shadow-xl
}
  
.post_form label {
    @apply
    font-bold
}

.post_form textarea {
    @apply
    w-full
    p-2.5
    my-1.5
    text-base
    bg-cover
    outline-none
    border
    border-b-4
    h-36
}

.post_submit_button {
    transition: all 500ms ease;
    @apply
    bg-blue-500
    hover:bg-blue-600
    text-[#fff]
    border-none
    py-2.5
    px-10
    cursor-pointer
    text-base
    flex
    items-center
    justify-center
    gap-2
}

.post_submit_button img {
    margin-left: -25px;
}

.form_below_container {
    @apply
    w-full
    flex
    justify-between
}

.form_submit_button_text {
    @apply
    ml-1.5
}

.form_header {
    @apply
    flex
    items-center
    gap-2
}

.form_header_icon_container{ 
    @apply
    flex h-8 w-8 flex-shrink-0 items-center justify-center bg-sky-100 
}

.form_header_icon {
    @apply
    h-6 w-6 text-sky-600
}

.iconsContainer{
    @apply
    flex justify-center items-center
    gap-3
}

.form_icon_container {
    @apply
    flex justify-center items-center
    text-xs
    gap-1
    cursor-pointer
}

.post_form_extras_container {
    transition: all 500ms ease;
    @apply
    opacity-0
    h-0
    flex
    items-center
    justify-center
    flex-col
    border-t-2
    border-slate-300
}

.post_form_extras_container.expanded {
    @apply 
    opacity-100
    h-12
    pt-3 mt-3
}

.post_form_extras_container .post_form_extras_inputs {

    @apply
    border
    border-2
    p-2
    w-9/12
    focus:outline-none
}

.post_form_extras_line {
    
    @apply
    w-full
    flex
    justify-around

}

.post_top_extra_info_text {

    @apply

    text-slate-500
    text-xs

}

.post_image {
    max-height: 640px;

    @apply
    rounded-md
    object-cover
}