.post_form_container {
    @apply
    mt-1.5
    w-full
    h-full
}

.post_form {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    @apply
    border-solid
    border-white
    bg-neutral-100
    p-5
}
  
.post_form label {
    @apply
    font-bold
}

.post_form textarea {
    @apply
    w-full
    p-2.5
    mt-1.5
    mb-1.5
    text-base
    bg-cover
    outline-none
}

.post_submit_button {
    transition: all 500ms ease;
    @apply
    bg-blue-500
    hover:bg-blue-600
    text-[#fff]
    border-none
    py-2.5
    px-10
    cursor-pointer
    text-base
    flex
    items-center
    justify-center
    gap-2
}

.post_submit_button img {
    margin-left: -25px;
}

.form_button_container {
    @apply
    w-full
    flex
    justify-end
}

.form_submit_button_text {
    @apply
    ml-1.5
}

.form_header {
    @apply
    flex
    items-center
    gap-2
}

.form_header_icon_container{ 
    @apply
    flex h-8 w-8 flex-shrink-0 items-center justify-center bg-sky-100 
}

.form_header_icon {
    @apply
    h-6 w-6 text-sky-600
}