.post_container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    @apply
    /* bg-neutral-100 */
    bg-white
    p-6
    w-full
    mb-6
}

.post_photo {
    border-radius: 50%;
    @apply
    object-cover
    w-[50px]
    h-[50px]
}

.post_owners_name {
    @apply font-bold
}

.post_header {
    @apply flex justify-between items-center
}

.post_header_left_section {
    @apply
    flex
    justify-center
    items-center
    gap-4
}

.post_header_right_actions_section {
    border-radius: 50%;
    transition: all 500ms ease;
    @apply
    flex
    items-center
    justify-center
    w-12
    h-12
    text-[2rem]
    pb-[20px]
    text-black
}

.post_header_right_actions_section:hover {
    background-color: gray;
    color:white
}

.post_action_button {
    transition: all 500ms ease;
    @apply
    flex
    items-center
    justify-center
    cursor-pointer
    w-full
    h-12
    text-base
    gap-4
}

.post_action_button:hover {
    background-color: gray;
    color: white;
}

.post_like_comment_share {
    @apply
    flex
    items-center
    justify-evenly
    my-2
}

.post_horizontal_line {
    @apply
    
    w-full
    border
    border-gray-300
}

.right_actions_button {
    @apply
    text-black
}

.post_body {
    @apply
    bg-white
    my-4
    p-4
}

.right_section_container {
    @apply relative
}

.post_dropdown_content{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    @apply
    absolute
    bg-[#f9f9f9]
    right-4
    flex
    items-center
    justify-center
}

.post_dropdown_content > *:not(div) {
    @apply py-4 px-12
}

.post_dropdown_content > p:first-child:hover {
    @apply bg-green-200 text-black cursor-pointer
}

.post_dropdown_content > p:last-child:hover {
    @apply bg-red-200 text-black cursor-pointer
}

.post_dropdown_content_action {
    @apply
    flex
    items-center
    justify-center
    gap-4
}