.skeleton {
    animation: skeleton-loading 0.5s linear infinite alternate;
}

.skeleton-title {
    @apply w-11/12 h-10
}

.skeleton-navbar-title {
    @apply h-4 w-[100px]
}

.skeleton-text {
    @apply w-11/12 h-6 mt-0.5
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
