.tooltip-container {
    @apply
    relative
    inline-block
}

.tooltip {
    transform: translateX(-50%);
    transition: opacity 1s;
    box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.1);

    @apply
    invisible
    w-auto
    py-0.5
    px-4
    bg-white
    text-black
    text-center
    top-[40px]
    fixed
    opacity-0
}

.tooltip-container:hover .tooltip {
    @apply
    visible
    opacity-100
}

